/* CSS Reset */
*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    color: white;
    background-color: black;
    margin:0;
    padding: 0;
}
table, th, td {
    border-collapse: collapse;
    padding: 10px;
}

/* ###  Main-container  ### */
.main-container{
    display: flex;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    flex-direction: column;
}
.mega-top{
    display: block;
    width: 100%;
    height: auto;
}
/* *** top-container *** */
.top-container{
    top:0;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    z-index: 1;
    height: 90%;
    width: 100%;
    /* justify-content: safe; */
}

    /*  -> left-container */
    .left-container{
        box-sizing: border-box;
        width:15%;
        left:0;
        display: block;
        position: fixed;
        overflow: hidden;
        /* overflow-wrap: normal; */
    }
    #nav{
        font-size: 1.2rem;
        color: #b2adaddb;
        box-sizing: border-box;
    }
    #nav ul li{
        list-style:none;
        margin: 10%;
        cursor:default;
    }
    #nav li i{
        text-align: center;
        width: 30px;
        padding-right: 7px;
    }
    #nav li:hover{
        color: whitesmoke;
        transition: color .4s;
        transition-timing-function: ease-in-out;
        
    }
    .playLists{
        height: 45vh;
        /* position:; */
        padding-top: 20px;
        border-top: 2px solid grey;
        overflow-y: scroll;
        scrollbar-width: none;
        
    }
    .playLists::-webkit-scrollbar{
        /* for safari and chrome */
        display: none;
    }
    .playLists ul li{
        color: #b2adaddb;
        list-style: none;
        font-size: 15px;
        margin: 7%;
        cursor: default;
    }
    .playLists ul li:hover{
        color: whitesmoke;
        transition: color .4s;
        transition-timing-function: ease-in-out;
    }
    .brand{
        display: flex;
        align-items: center;
        color: whitesmoke;
        font-weight: bolder;
        font-size: 1.6em;
    }
    .brand img{
        width: 40px;
        padding: 0 7px;
    }

    /*  -> right-container */
    #right-container{
        display: block;
        width: 85%;
        top:0;
        right:0; 
        box-sizing:border-box;                   
        height: 90vh;
        position: absolute;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: none;
        /* overflow-wrap: normal; */
    }
    #right-container::-webkit-scrollbar{
        display: none;
    }
    /*  playlist */
    .playlist-info{        
        height: 50%;
        display: flex;
        flex-direction: column;
        background-color: #aa2424;
        background-image: linear-gradient(to right bottom,  #1f70f1,#c7180c ) ;
        padding-bottom: 10px;
    }
    .playlist-info h1{
        font-size:5rem;
        padding: 10px;
        cursor: pointer;
    }
    .playlist-info .playlist-name{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    .playlist-info img{
        height: 225px;
        width: 225px;
        margin-top: 10px;
        margin-left: 30px;
    }
    .playlist{
        background-image: linear-gradient(to bottom , #0f0f54 10%, #000000 20%);
        padding: 20px;
        
    }
    .extras{
        display: block;
        width: 100%;
    }
    .extras i{
        color: #38cf6d;
    }
    
    .songList-container{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 200px;
        width: 97%;
        color:#9e9e9edb;
        
        
    }
    .table-head{
        border-bottom: 1px solid gray;
        text-align: left;
    }
    .table-head .Date-added, .table-head .Duration{
        /* border-bottom: 1px solid gray; */
        text-align: center;
    }
    .rank{
        cursor: pointer;
        margin: 1px;
        text-align: left;
    }
    .title{
        column-width: 35rem;
        cursor: pointer;
        text-align: left;
    }
    .album{
        column-width: 30rem;
        cursor: pointer;
        text-align: left;
    }
    .date-added{
        column-width: 20rem;
        text-align: center;
    }

/* .songList-table:hover{
    background-color: yellow;
} */
tbody tr:hover{
    color: white;
    background-color: #b9ababbe;
    border-radius: 10px;
    /* transition: all .3s; */
    transition: all .35s ease-in-out;
    transition-delay: 0.05s ;
}

.table-row{
    justify-content: space-between;
    margin: 2px 0 2px 0;
}
/* song-lyrics */
.lyrics-container{
    margin-bottom: 50rem;
}

.hidden-container{
    display: none;
    width: 85vw;
    max-width: 85%;
    top:0;
    right:0; 
    box-sizing:border-box;                   
    /* height: max-content; */
    position: absolute;
    overflow-x: hidden;
    overflow-y:scroll;
    scrollbar-width: none;

    font-size: 1.7rem;
    padding-top: 150px;
    padding-bottom: 400px;
    
    color: whitesmoke;
    background-color: #3535ad;
    line-height: 50px;
    
   /* height: 90%; */
    /* max-height: ; */
    visibility: hidden;
}
.hidden-container::-webkit-scrollbar{
    display: none;
    width: 0 !important;
    /* scroll-behavior: smooth; */
}
pre {
    margin: 0 2rem;
  }

#song-lyrics{
 /* display: none; */
 visibility: hidden;
 /* z-index: 20; */
}
#Queue-container{
    /* display: block; */
    box-sizing: border-box;
    visibility: hidden;
    padding: 25px;
    /* z-index: 20; */
}
.q_title{
    column-width: 40rem;
    cursor: pointer;
    text-align: left;
}
.q_album{
    column-width: 35rem;
    cursor: pointer;
    text-align: left;
}
.q_duration{
    column-width: 10rem;
    text-align: center;
}



/* *** bottom-container *** */
.bottom-container{
    bottom:0px;
    height:max-content;
    padding: 5px;
    width: inherit;
    max-width: inherit;
    z-index: 50;
    position: fixed;
    display: block;
    
    box-sizing: border-box;
    background-color: #261818;
}
.current-song{
    display: flex;
    bottom: 0;
    width: 95%;
    /* justify-content:space-around; */
}
.song-info{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 25%;
    left:0;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
}
.current-song-name{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto ;
    margin-right: 10px;
    /* margin: auto 5 autos 0; */
}
.favorite{
    display: block;
    margin: auto 0 auto 0;
}
.current-song .song-player{
    width: 50%;
    padding: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.song-player .play-buttons{
    display: flex;
    flex-direction: row;
    padding: 2px 0 2px 0;
}
.song-player .play-buttons i{
    margin: 7px 0 7px 0;
    padding-bottom:5px ;
}
#previous {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
}
#masterPlay{
    font-size: 1.5rem;
    margin-right:10px;
    cursor: pointer;
}
#main-play{
    margin-right:10px;
    cursor: pointer;
}
#next{
    font-size: 1.5rem;
    margin-right:10px;
}

.current-song .time-bar{
    display: flex;
    flex-direction: row;
}
.time-bar input{
    width: 40vw;
}

.features{
    width: 25%;
    display: flex;
    flex-direction: row;
    right:0;
    align-items: center;
    justify-content: right;
}
.features div{
    padding: 10px;
}
.features .fa-microphone, .features .fa-reorder, .features .fa-mobile{
    cursor: pointer;
}
.volume-container, .features input{
    cursor: pointer;
}



.volume-container {
    width: 127px; /* Width of the outside container */
    right: 0;
  }

  /* The slider itself */
  #vol-bar {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100px; /* Full-width */
    height: 5px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 10px ;
  }
  /* Mouse-over effects */
  #vol-bar:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  #vol-bar::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 9px; /* Set a specific slider handle width */
    height: 9px; /* Slider handle height */
    border-radius: 50%;
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  #vol-bar::-moz-range-thumb {
    width: 9px; /* Set a specific slider handle width */
    height: 9px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }


  #bottom-nav{
      display: none;
      height: 13%;
      width: 100%;
      background-color: #04AA6D;
      background-color: #4dcc7a;
      
  }

   #nav-2{
      display: flex;
      height: 100%;
      align-items: center;
  }
  #nav-2 ul{
      display: flex;
      flex-direction: row;
      list-style: none;
      text-align: center;
      width: 100%;;
      justify-content: space-evenly;
      margin: 0 auto;
      padding-top: auto;
      /* overflow: hidden; */
      align-items: center;

  } */
  #nav-2 ul li{
    /* flex-direction: column; */
    /* display:inline-block; */
    margin: 10px auto 10px auto;
  }